@font-face {
  font-family: WSans;
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #2e2e2e;
  font-family: WSans, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* !header & contact links navigation (horizontal) */

header {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3.9rem;
  z-index: 10;
}

.logo {
  height: 3.7rem;
  width: 3.6rem;
}

.contact-list {
  display: flex;
  gap: 4.5rem;
}

.contact-list-item a {
  color: #867772;
  font-weight: 200;
  font-size: 1.6rem;
}

.contact-list-item a:hover {
  color: rgba(255, 255, 255, 0.815);
  text-decoration: underline rgba(255, 255, 255, 0.815);
}

/* !aside & main nav */

aside {
  margin-left: 2.3rem;
  margin-top: 6.5rem;
  width: 3rem;
  position: fixed;
  z-index: 3;
}

.aside-list-item a {
  color: #737373;
  font-size: 1.5rem;
  z-index: 3;
}

.aside-list-item .selected-link {
  color: white;
  position: relative;
}

/* ?white circle in selected menu*/

.aside-list-item .selected-link::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid white;
  border-radius: 50%;
  position: absolute;
  top: -0.6rem;
  left: -4.25rem;
  z-index: 3;
  background-color: transparent;
}

.aside-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-item-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0.5rem 0;
  width: 3rem;
}
.circle {
  height: 1.5rem;
  z-index: 3;
}

.decoration-line {
  height: 4.7rem;
  width: 0.1rem;
  border-left: 1px solid #737373;
  position: relative;
  left: 0.68rem;
  z-index: 2;
}

/* #main */

/* * -----------------------------------------PAGE ABOUT (index.html) -----------------------*/

/*  !.intro-section */

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  position: absolute;
  top: 10rem;
  left: 5rem;
}

.intro-section p {
  width: 24rem;
  color: #ebccc2;
  font-size: 2.4rem;
  position: relative;
  left: -14rem;
  font-weight: 200;
}

.intro-section img {
  flex-shrink: 1;
  max-width: 129rem;
}

/* !.description-section*/

.description-section {
  display: flex;
  position: absolute;
  top: 120rem;
  right: auto;
  width: 100%;
  padding: 0 15vw;
  margin: 0 auto;
  gap: 6.5rem;
}

.description-section img,
.description-section article {
  width: 32vw;
  padding-bottom: 11rem;
}

.description-section article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.description-headling {
  font-size: 2.4rem;
  color: #ebccc2;
  font-weight: 400;
}
.description-text {
  font-size: 1.6rem;
  color: #737373;
  font-weight: 200;
  line-height: 24px;
}

/* * -----------------------------------------PAGE Lounger (lounger.html) & Page Experience (experience.html), shop (shop.html) -----------------------*/

.container {
  display: flex;
  position: absolute;
  top: 0;
}

.img-article img {
  width: 57vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.text-article {
  width: auto;
  padding-left: 3.9rem;
  padding-right: 12rem;
}

.text-headling {
  margin-top: 17rem;
  margin-bottom: 8rem;
  font-size: 4.8rem;
  color: #ebccc2;
  font-weight: 300;
}

.text {
  color: #737373;
  padding-bottom: 2.1rem;
  font-weight: 300;
  line-height: 2.4rem;
}

/* * -----------------------------------------Inspiration (inspiration.html) -----------------------*/

.intro-inspiration,
.section-inspiration {
  margin: 0 auto;
  width: 60%;
}
video {
  width: 100%;
  padding-top: 3rem;
}

.header-inspiration {
  padding: 10rem 0;
}

/* intro-inspiration */
.inspiration-sm-headling {
  color: #ebccc2;
  font-size: 1.9rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
}

.inspiration-headling {
  color: #ebccc2;
  font-size: 4rem;
  font-weight: 300;
  padding-top: 1.4rem;
  padding-bottom: 4.3rem;
}

.btn-container {
  display: flex;
  gap: 0.2rem;
}

.btn-container button {
  color: #737373;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.4rem;
  padding: 0.2rem 1.6rem;
  background-color: transparent;
  border: 1px solid #737373;
}

.header-inspiration p {
  color: #737373;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.4rem;

  padding-top: 1.8rem;
}

/* section-inspiration */

.section-inspiration {
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

.section-inspiration article {
  display: flex;
}

.inspiration-alchemy img,
.inspiration-architecture img {
  width: 50%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.sm-headling {
  color: #ebccc2;
  font-size: 1.8rem;
  font-weight: 200;
}

.article-headling {
  color: #ebccc2;
  font-size: 2.4rem;
  font-weight: 400;
  padding-top: 1.4rem;
  padding-bottom: 1.8rem;
}

.article-text {
  color: #737373;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.4rem;
}

/* * -----------------------------------------shop (shop.html) -----------------------*/

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
}

.shop img {
  width: 36vw;
  object-fit: cover;
}

.shop-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-name {
  color: #ebccc2;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.8rem;
}

.product-description,
.price {
  color: #737373;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.price {
  margin: 2rem 0;
}

.buy-button {
  border-radius: 0.3rem;
  background-color: #ebccc2;
  color: #2e2e2e;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.3rem 3.1rem;
}

/* * -----------------------------------------contact (contact.html) -----------------------*/
.forms-section {
  background: url("../img/section-composition4.jpg") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
}

.formular {
  margin-bottom: 7rem;
}

form {
  position: relative;
  top: 17rem;
  margin: 0 auto;
  width: 33%;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

form h2 {
  color: #ebccc2;
  padding-bottom: 3rem;
  text-align: center;
}

form label {
  color: #a09e9e;
  font-size: 1.6rem;
}

form input,
form select,
form textarea {
  width: 100%;
  margin: 0 0 0.5rem 0;
  border-radius: 4px;
  padding: 0.5rem;
}

.form-btn {
  background-color: #ebccc2;
  width: 100%;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  border-radius: 4px;
}
