@font-face {
  font-family: WSans;
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: #2e2e2e;
  font-family: WSans, Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* !header & contact links navigation (horizontal) */

header {
  height: 9.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.9rem;
}

.logo {
  height: 3.7rem;
  width: 3.6rem;
}

.contact-list {
  display: flex;
  gap: 1.8rem;
}

.contact-list-item a {
  color: #867772;
  font-size: 1.6rem;
}

/* !aside & main nav */

aside {
  margin-left: 2.3rem;
  margin-top: 6.5rem;
  width: 3rem;
}

.aside-list-item a {
  color: #737373;
  font-size: 1.5rem;
}

.aside-list-item .selected-link {
  color: white;
  position: relative;
}

/* white circle in selected menu*/

.aside-list-item .selected-link::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  border: 0.3rem solid white;
  border-radius: 50%;
  position: absolute;
  top: -0.58rem;
  left: -4.273rem;
  z-index: 1;
  background-color: transparent;
}

.aside-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.list-item-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0.5rem 0;
  width: 3rem;
}
.circle {
  height: 1.5rem;
}

.decoration-line {
  height: 4.7rem;
  width: 0.1rem;
  border-left: 1px solid #737373;
  position: relative;
  left: 0.68rem;
  background-color: yellow;
}
